<nav class="nav bg-light justify-content-center">
  <a class="nav-link text-dark fs-5" href="/add">Add Contact</a>
  <a class="nav-link text-dark fs-5" href="/">Contact</a>
  <a class="nav-link text-dark fs-5" href="/about">About</a>
</nav>